<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budget Tracker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body class="bg-gray-900 p-5 text-white">
    {% comment %} Navbar {% endcomment %}
    <header class="bg-gray-800 p-4 flex justify-between items-center">
      <h2 class="font-bold text-3xl uppercase underline">
        <span class="text-blue-600 underline">Budget</span>tracker
      </h2>
      <div class="flex justify-center items-center gap-4">
        <div>
          <a href="{% url 'add_expense' %}">
            <button
              class="bg-blue-400 text-black font-semibold px-3 py-2 rounded"
            >
              Add Expenses
            </button>
          </a>
        </div>
        <div>
          <a href="{% url 'add_income' %}">
            <button
              class="bg-blue-400 text-black font-semibold px-3 py-2 rounded"
            >
              Add Income
            </button>
          </a>
        </div>
        <div class="w-12 h-12 rounded-full">
          <img
            src="static/images/profile.png"
            alt="profile"
            class="w-full profile-img rounded-full"
          />
          <div
            class="profile-dropdown w-1/6 mt-2 text-gray-800 rounded transition-all duration-300"
          >
            <div>
              <p class="border-b py-2 px-4">{{user}}</p>
              <form
                action="{% url 'logout' %}"
                method="POST"
                style="display: inline"
              >
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% comment %} Main Content {% endcomment %}
    <div class="container mx-auto py-10">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% comment %} Total Income {% endcomment %}
        <div class="bg-blue-800 p-6 rounded-lg shadow-md">
          <h2 class="text-lg font-semibold">Total Income</h2>
          <p class="text-4xl mt-2">{{total_budget.total_income}}</p>
        </div>

        {% comment %} Total Expenses {% endcomment %}
        <div class="bg-orange-500 p-6 rounded-lg shadow-md">
          <h2 class="text-lg font-semibold">Total Expenses</h2>
          <p class="text-4xl mt-2">{{total_budget.total_expense}}</p>
        </div>

        {% comment %} Balance {% endcomment %}
        <div class="{% if total_budget.total_balance >= 0 %} bg-green-800 {% else %} bg-red-800 {% endif %}  p-6 rounded-lg shadow-md">
          <h2 class="text-lg font-semibold">Balance</h2>
          <p class="text-4xl mt-2">{{total_budget.total_balance}}</p>
        </div>
      </div>
      {% comment %} Recent Transactions {% endcomment %}
      <div>
        <h4 class="text-center font-semibold my-5 text-2xl">
          Recent Transactions
        </h4>
        <table class="border-collapse border w-full bg-gray-800">
          <thead>
            <tr>
              <th class="px-3 py-2 border border-gray-400 bg-gray-600 text-start">
                Category
              </th>
              <th class="px-3 py-2 border border-gray-400 bg-gray-600 text-start">
                Amount
              </th>
              <th class="px-3 py-2 border border-gray-400 bg-gray-600 text-start">Date</th>
            </tr>
          </thead>
          <tbody>
            {%for i in expenses%}
            <tr>
              <td class="px-3 py-2 border border-gray-400 text-start">
                {{i.category}}
              </td>
              <td class="px-3 py-2 border border-gray-400 text-start">
                {{i.amount}}
              </td>
              <td class="px-3 py-2 border border-gray-400 text-start">
                {{i.date}}
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="3" class="py-2 px-4 text-center">
                No expenses found.
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% comment %} Transaction Categories {% endcomment %}
      <div class="mt-10">
          {% if expense_by_category %}
          <h2 class="text-xl font-bold mb-4 ">Transactions by Category</h2>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            {% for expense in expense_by_category %}
            <div class="bg-gray-800 p-4 rounded-lg">
              <h3 class="font-semibold">{{expense.category}}</h3>
              <div class="flex justify-between items-center">
                <p>{{expense.total}}</p>
                <p>{{ expense.percentage }}%</p>
              </div>
              <div class="bg-gray-700 mt-2 h-2 rounded-full">
                <div
                  class="h-full rounded-full"
                  style="width: {{ expense.percentage }}%;
                  background-color: blue "
                ></div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
      </div>
      <!-- Expense vs Income Pie Chart -->
       <h3 class='text-xl font-bold my-5 text-center'>Financial Overview</h3>
      <div class="flex justify-center gap-10 mt-5">
        <div class="w-1/2 ">
            <canvas id="barChart"></canvas>
            <canvas id="lineChart"></canvas>
        </div>
        <div class="w-1/2">
            <canvas id="pieChart"></canvas>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctxBar = document.getElementById('barChart').getContext('2d');
      const chartData = {{ chart_data|safe }};
      console.log(chartData);

      const budgetBarChart = new Chart(ctxBar, {
          type: 'bar',  // Ya 'pie', 'line', jo aap chahen
          data: {
              labels: ['Income', 'Expenses', 'Balance'],
              datasets: [{
                  label: 'Financial Overview',
                  data: [chartData.income, chartData.expense, chartData.balance],
                  backgroundColor: [
                      'blue',
                      'green',
                      'yellow',
                  ],
                  borderColor: [
                      'rgba(75, 192, 192, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(153, 102, 255, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
    </script>
    <script>
      const ctxLine = document.getElementById('lineChart').getContext('2d');
      const chartDataLine = {{ chart_data|safe }};

      const budgetLineChart = new Chart(ctxLine, {
          type: 'line',  // Ya 'pie', 'line', jo aap chahen
          data: {
              labels: ['Income', 'Expenses', 'Balance'],
              datasets: [{
                  label: 'Financial Overview',
                  data: [chartData.income, chartData.expense, chartData.balance],
                  backgroundColor: [
                      'blue',
                      'green',
                      'yellow',
                  ],
                  borderColor: [
                      'rgba(75, 192, 192, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(153, 102, 255, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
    </script>
    <script>
      const ctxPie = document.getElementById('pieChart').getContext('2d');
      const chartDataPie = {{ chart_data|safe }};
      console.log(chartData);

      const budgetPieChart = new Chart(ctxPie, {
          type: 'pie',  // Ya 'pie', 'line', jo aap chahen
          data: {
              labels: ['Income', 'Expenses', 'Balance'],
              datasets: [{
                  label: 'Financial Overview',
                  data: [chartData.income, chartData.expense, chartData.balance],
                  backgroundColor: [
                      'blue',
                      'green',
                      'yellow',
                  ],
                  borderColor: [
                      'rgba(75, 192, 192, 1)',
                      'rgba(255, 99, 132, 1)',
                      'rgba(153, 102, 255, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
    </script>
    <script src="/static/app.js"></script>
  </body>
</html>
